<h1> NPR Scraper</h1>

<h3>Look the News that you want from NPR</h3>

<ul>
  {{#each tasks}}
  	<li>
  	   <p>ID: {{this.id}}</p>
       <p>Title: {{this.title}}</p>
       <p>Link: {{this.link}}</p>
  	</li>
  {{/each}}
</ul>

<form action="/all" method="POST">
	<textarea type="text" name="task"></textarea>

	<button type="submit">Submit</button>
</form>

